<a href="https://colab.research.google.com/github/obabar/Omkar_RTR_2018/blob/AI_ML_DS/Non_linearModel_Random_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np                                                 # Implemennts milti-dimensional array and matrices
import pandas as pd                                                # For data manipulation and analysis
import pandas_profiling
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics
%matplotlib inline
from sklearn.metrics import confusion_matrix
sns.set()

In [0]:
data = pd.read_csv("https://raw.githubusercontent.com/equester/TataTelecomAI/master/Sample%20Data/data_P.csv")

In [0]:
data.head()

,Incoming Attempts,Normal Term Seizures,Answered Calls,Normal Not Answer Calls,Outgoing Seizures,FEV Seizures,Network Conversation Minutes,NER,ACD,New Pricing Service
0,41,41,40,1,41,0,14.533333,100.000000,0.363333,Call Center
1,239,49,11,38,71,14,36.666667,85.964912,3.333333,Call Center
2,8019,459,188,271,643,103,1435.066667,85.000000,7.633333,Corporate
3,10,8,8,0,8,0,13.133333,100.000000,1.641667,Corporate
4,117,96,13,83,112,4,64.016667,88.888889,4.924359,Call Center

In [0]:
X = data.loc[:,data.columns != 'New Pricing Service']
y = data['New Pricing Service']

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [0]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train,y_train)
y_pred_test = logreg.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))

from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
print(confusion_matrix)

('Accuracy score for test data is:', 0.7272727272727273)
    0   1
0  45   4
1  26  35

In [0]:
from sklearn import tree
dtree = tree.DecisionTreeClassifier(random_state = 0)
dtree.fit(X_train, y_train)
y_pred_test = dtree.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))

from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
print(confusion_matrix)

('Accuracy score for test data is:', 0.7636363636363637)
    0   1
0  37  12
1  14  47

In [0]:
from graphviz import Source
graph = Source( tree.export_graphviz(dtree, out_file=None,filled=True, 
                                rounded=True,  
                                special_characters=True, feature_names=X.columns))
graph.format = 'png'
graph.render('dtree_render',view=True)

'dtree_render.png'

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

decision_tree_classifier = DecisionTreeClassifier(random_state = 0)


tree_para = [{'criterion':['gini','entropy'],'max_depth': range(2,60),
                             'max_features': ['sqrt', 'log2', None] }]
                            
                            

grid_search = GridSearchCV(decision_tree_classifier,tree_para, cv=10, refit='AUC')
grid_search.fit(X_train, y_train)
y_pred_test1 = grid_search.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test1))

from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
print(confusion_matrix)

('Accuracy score for test data is:', 0.7545454545454545)
    0   1
0  37  12
1  14  47

/usr/local/lib/python2.7/dist-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [0]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()

rf.fit(X_train, y_train)

y_pred_test = rf.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))

from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
print(confusion_matrix)

('Accuracy score for test data is:', 0.8727272727272727)
    0   1
0  43   6
1   8  53

In [0]:
rf1 = RandomForestClassifier(random_state = 0,
                                n_estimators = 30,
                                min_samples_split = 5,
                                min_samples_leaf = 2)

rf1.fit(X_train, y_train)
y_pred_test = rf1.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))

from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
print(confusion_matrix)

('Accuracy score for test data is:', 0.8454545454545455)
    0   1
0  42   7
1  10  51

In [0]:
from xgboost import XGBClassifier
xgboost = XGBClassifier()

In [0]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint as sp_randint
# parameters for GridSearchCV
# specify parameters and distributions to sample from
param_dist = {"max_depth": range(2,5),
              "min_samples_split": sp_randint(2, 11),
              "min_samples_leaf": sp_randint(1, 11),
              "bootstrap": [True, False],
              "n_estimators": [100, 400, 700, 1000, 1500],
              "criterion" : ["gini", "entropy"],
              'max_features': ['sqrt', 'log2', None]
             }
# run randomized search
n_iter_search = 50
random_search = RandomizedSearchCV(rf, param_distributions = param_dist,
                                   n_iter = n_iter_search,
                                   n_jobs = -1)

random_search.fit(X_train, y_train)
y_pred_test = random_search.predict(X_test)
from sklearn.metrics import accuracy_score
print('Accuracy score for test data is:', accuracy_score(y_test,y_pred_test))

from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))
print(confusion_matrix)

/usr/local/lib/python2.7/dist-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

('Accuracy score for test data is:', 0.8181818181818182)
    0   1
0  41   8
1  12  49

In [0]:
#Exporting Model to Object 

Model = rf1
import pickle
filename = 'finalized_model5_rfWParameter.sav'
pickle.dump(Model, open(filename, 'wb'))

In [0]:
testdata = pd.read_csv("https://raw.githubusercontent.com/equester/TataTelecomAI/master/data_CC.csv")

In [0]:
testdata.head()

,Incoming Attempts,Normal Term Seizures,Answered Calls,Normal Not Answer Calls,Outgoing Seizures,FEV Seizures,Network Conversation Minutes,NER,ACD
0,41,41,40,1,41,0,14.533333,100.000000,0.363333
1,239,49,11,38,71,14,36.666667,85.964912,3.333333
2,117,96,13,83,112,4,64.016667,88.888889,4.924359
3,503,369,92,277,387,4,275.700000,96.344648,2.996739
4,80,26,10,16,26,0,53.816667,100.000000,5.381667

In [0]:
# print(logreg.predict(testdata))
# print(rf.predict(testdata))
# print(rf1.predict(testdata))

newdata = testdata.copy()

In [0]:
newdata.head()

,Incoming Attempts,Normal Term Seizures,Answered Calls,Normal Not Answer Calls,Outgoing Seizures,FEV Seizures,Network Conversation Minutes,NER,ACD
0,41,41,40,1,41,0,14.533333,100.000000,0.363333
1,239,49,11,38,71,14,36.666667,85.964912,3.333333
2,117,96,13,83,112,4,64.016667,88.888889,4.924359
3,503,369,92,277,387,4,275.700000,96.344648,2.996739
4,80,26,10,16,26,0,53.816667,100.000000,5.381667

In [0]:
newdata['M1_Predicted'] = logreg.predict(testdata)
newdata['M2_Predicted'] = dtree.predict(testdata)
newdata['M3_Predicted'] = grid_search.predict(testdata)
newdata['M4_Predicted'] = rf.predict(testdata)
newdata['M5_Predicted'] = rf1.predict(testdata)
newdata['M6_Predicted'] = random_search.predict(testdata)

In [0]:
newdata.head()

,Incoming Attempts,Normal Term Seizures,Answered Calls,Normal Not Answer Calls,Outgoing Seizures,FEV Seizures,Network Conversation Minutes,NER,ACD,M1_Predicted,M2_Predicted,M3_Predicted,M4_Predicted,M5_Predicted,M6_Predicted
0,41,41,40,1,41,0,14.533333,100.000000,0.363333,Call Center,Corporate,Call Center,Call Center,Call Center,Call Center
1,239,49,11,38,71,14,36.666667,85.964912,3.333333,Call Center,Call Center,Call Center,Call Center,Call Center,Call Center
2,117,96,13,83,112,4,64.016667,88.888889,4.924359,Call Center,Call Center,Call Center,Call Center,Call Center,Call Center
3,503,369,92,277,387,4,275.700000,96.344648,2.996739,Call Center,Call Center,Corporate,Call Center,Call Center,Call Center
4,80,26,10,16,26,0,53.816667,100.000000,5.381667,Call Center,Call Center,Call Center,Call Center,Call Center,Call Center

In [0]:
newdata.to_csv("ModelStacking6MOdels.csv")